{#
    A query to get chain rankings from the fact_kpis table.
    We rank chains based on each chain's latest available value for a metric.

    Parameters:
    - metric_key: the specific metric key to consider for data extraction.
    - comparison_oks: A list of origin keys to consider for data extraction.
    - origin_key: the specific origin key to filter the results.
#}


WITH latest AS (
  SELECT DISTINCT ON (origin_key)
    metric_key,
    origin_key,
    "date",
    value
  FROM fact_kpis
  WHERE metric_key = '{{ metric_key }}'
    AND origin_key IN ( '{{ comparison_oks | join("', '") }}' )
    AND value IS NOT NULL
    AND (
      (
        metric_key NOT IN ('market_cap_usd', 'market_cap_eth', 'fdv_usd', 'fdv_eth')
        AND "date" < CURRENT_DATE
      )
      OR metric_key IN ('market_cap_usd', 'market_cap_eth', 'fdv_usd', 'fdv_eth')
    )
  ORDER BY origin_key, "date" DESC
),
y AS (
  SELECT
    metric_key,
    origin_key,
    value,
    RANK()       OVER (
	    PARTITION BY metric_key
	    ORDER BY
	      /* for tx_costs lower is better */
	      CASE WHEN metric_key = 'txcosts_median_usd' THEN value END ASC NULLS LAST,
	      /* for all other metrics higher is better */
	      CASE WHEN metric_key <> 'txcosts_median_usd' THEN value END DESC NULLS LAST
	  ) AS rank,
    COUNT(*)      OVER (PARTITION BY metric_key)                                 AS out_of
  FROM latest
)
SELECT
  metric_key,
  origin_key,
  value,
  rank,
  out_of
FROM y
WHERE origin_key = '{{ origin_key }}'
ORDER BY metric_key;
